{% extends "base.html" %}
{% block title %}Sing In{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px; border-radius: 1rem">
        <h3 class="text-center mb-4">Sign In</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success w-100">Log In</button>
            <div id="g_id_onload"
                 data-client_id="196633259990-ptd6mnfivau4bk81bdgm8i03kdmo2lov.apps.googleusercontent.com"
                 data-context="signin"
                 data-ux_mode="popup"
                 data-login_uri="http://localhost:8000/google-auth"
                 data-itp_support="true">
            </div>

            <div class="g_id_signin"
                 data-type="standard"
                 data-shape="rectangular"
                 data-theme="outline"
                 data-text="signin_with"
                 data-size="large"
                 data-logo_alignment="left">
            </div>
        </form>
        <p class="text-center mt-3 mb-0">Need an account? <a href="{% url 'signup' %}">Sign In</a>
        </p>
    </div>
</div>


{% endblock %}