<div id="rating-container">
  <form
      hx-post="{% url 'rate_film' film.id %}"
      hx-target="#rating-container"
      hx-swap="outerHTML"
      method="POST"
      class="d-flex align-items-center gap-2"
  >
    {% csrf_token %}
    <div class="star-rating d-flex align-items-center gap-1">
      {% for i in rating_range %}
        <button
            type="submit"
            name="rating"
            value="{{ i }}"
            class="btn p-0 border-0 bg-transparent"
            aria-label="Rate {{ i }}"
        >
<!--          TODO: fix colored stars after reload-->
          {% if movie_folder.rating and movie_folder.rating >= i %}
            <i class="bi bi-star-fill text-warning fs-4"></i>
          {% else %}
            <i class="bi bi-star text-warning fs-4"></i>
          {% endif %}
        </button>
      {% endfor %}
    </div>

    {% if film.average_rating %}
      <span class="text-muted small">{{ film.average_rating|floatformat:1 }} / 5</span>
    {% else %}
      <span class="text-muted small">Not rated yet! Be first!</span>
    {% endif %}
  </form>

  {% include "components/messages.html" %}
</div>
