{% extends "base.html" %}
{% block title %}Home - FilmClub{% endblock %}

{% block content %}
{% include "components/top_rated_films.html" %}



<div class="container mt-4">
  <div class="row">

    <div class="col-md-8 mb-4">
        {% include "films/partials/all_films_content.html" %}
    </div>

    <div class="col-md-4 mb-4">
        {% include "films/partials/recent_comments.html" %}
    </div>

  </div>
</div>

{% if user.is_authenticated %}
    <button class="add-film-button"
            data-bs-toggle="modal"
            data-bs-target="#addFilm"
            title="Add Film">
      <span>＋</span>
    </button>
    {% include "components/modal_add_film.html" %}
{% else %}
    <button class="add-film-button"
          data-bs-toggle="modal"
          data-bs-target="#authRequiredModal"
          title="Sign in to add film">
    <span>＋</span>
  </button>
    {% include "films/partials/redirect_to_login_modal.html" %}
{% endif %}
{% endblock %}






